*, *:before, *:after { box-sizing: border-box; }

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background: #e7e7e7;
  /* global text styles */
  font-family: sans-serif;
  font-size: .6rem;
  text-transform: uppercase;
}

body,
.app-container {
  flex-direction: column;
}

body,
.app-container,
.outer {
  display: flex;
  flex: 1;
}

.list-container {
  background: #ddd;
  display: flex;
  flex-direction: column;
}

.list-container > ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0.8rem;
}
.list-container > ul > li {
  padding: 20px;
  border-top: 1px solid #bbb;
}
.list-container > ul > li:hover {
  cursor: pointer;
  background: #eee;
  transition: background 200ms ease-out;
}
.list-container > ul > li:last-child {
  border-bottom: 1px solid #bbb;
}

.anode-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.anode {
  background: linear-gradient(#3e3d3d, #222);
  color: #e7e7e7;
  border-radius: 10px;
  padding: 30px;
  width: 600px;
  box-shadow: 0 8px 40px -10px black;
}

.preset-name {
  display: block;
  width: 100%;
  margin-bottom: 30px;
  padding: 10px;

  font-family: sans-serif;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  text-align: center;
  text-transform: uppercase;

  background: #ccc;
  border: none;
}

.logo {
  width: 200px;
  margin: 20px;
  align-self: center;
}

.control-group {
  display: flex;
  flex-direction: column;
}

.control-group__label {
  border: 1px solid #565656;
  color: #e7e7e7;
  text-align: center;
  padding: .4rem;
}

.control-group__controls {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.control-group__controls > div {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}


.control {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.control__label {
  margin-top: 2px;
}

.control__dial {
  /* width: 80px; */
}

.control__dial,
.control__toggle-switch {
  -webkit-appearance: none;
  height: 20px;
  background: #222;
  border-radius: 2px;
  border: 1px solid #444;
  cursor: pointer;
}

.control__dial:focus,
.control__toggle-switch:focus {
  outline: none;
}

.control__dial::-webkit-slider-thumb,
.control__toggle-switch:after {
  -webkit-appearance: none;
  background: #f26522;
  height: 20px;
  width: 10px;
  border-radius: 2px;
}

.control__toggle {
  display: flex;
  align-items: center;
}

.control__toggle span {
  width: 40px;
  color: #aaa;
  text-transform: uppercase;
  font-size: 10px;
}
.control__toggle span:first-child {
  text-align: right;
  padding-right: 5px;
}
.control__toggle span:last-child {
  text-align: left;
  padding-left: 5px;
}

.control__toggle-switch {
  position: relative;
  height: 22px;
  width: 40px;
}
.control__toggle-switch:after {
  content: "";
  display: block;
  transition: transform .05s ease-out;
}
.control__toggle-switch:checked:after {
  left: auto;
  transform: translateX(27px);
}

